
/**** 메인 고정부분 ****/
.mp-main {
   padding-top: 7.5em;
}


/**** 커버 ****/
.mp-banner {
   /*background-image: url("images/banner_img.PNG");*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   background: #ffc001;
   height: 200px;
   transition: box-shadow 0.5s ease;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.25);
}
.mp-banner:hover {
   box-shadow: inset 0 0 0 4px #1c2036;
}
.mp-banner:hover a{
   width: 170px;
}
.mp-banner:hover .fas{
   font-size: 1.75em;
   padding: 0.23em 0.4em 0 0;
}
.mp-banner:hover .mp-pic-box{
   opacity: 1;
   width: 164px;
}
.mp-banner .fas {
   position: absolute;
   font-size: 2.25em;
   color: white;
    top: 3px;
    right: 6px;
    transition: all .3s ease-out, padding .5s ease;
}
.mp-banner > a {
   position: relative;
   cursor: pointer;
   display: block;
   float: right;
   right: 25px;
    top: 25px;
    width: 50px;
    transition: width .3s ease-out;
    overflow: hidden;
}
.mp-pic-text { /*span*/
   -webkit-font-smoothing: antialiased;
   position: relative;
    padding-right: 0.56em;
    font-weight: 600;
    color: white;
}
.mp-pic-box { /*div*/
    background-clip: padding-box;
    border: 3px solid white;
    border-radius: 2px;
    box-sizing: border-box;
    color: white;
    display: inline-block;
    opacity: 0;
    overflow: hidden;
    padding: 0.4em 0.8em;
    position: relative;
    top: 3px;
    transition: opacity .3s ease-out, width .3s ease-out;
    white-space: nowrap; /*텍스트 줄바꿈 처리 안함*/
    width: 34px;
}
/*.mp-banner::before { 페이스북
    border: 1px solid rgba(0, 0, 0, .1);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.ProfileCanopy-header:before { 트위터
    display: block;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.25);
    z-index: 1;
}
.user-header__cover:after { 오늘의집
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}*/


/**** 프로필 ****/
.mp-profile-setting {
    background: #ffc001;
    border-radius: 50%;
    border: 6px solid white;
    height: 250px;
    width: 250px;
    position: absolute;
    top: 130px;
    left: 120px;
    z-index:3;
    transition: box-shadow 0.5s ease;
}
.mp-profile-setting:hover {
   box-shadow: inset 0 0 0 4px #1c2036;
}
.mp-profile-setting > a {
    position: absolute;
    height: 235px;
    width: 235px;
    border-radius: 50%;
    z-index: 4;
} 
.mp-profile-div {
    position: absolute;
    left: 83px; top: 93px;
    color: #fff;
    font-size: 1.125em;
    font-weight: bold;
}
.mp-profile-div .fas {
    font-size: 2.25em;
    color: white;
    margin-left: 0.4em;
}


/**** 사용자 정보 ****/
.mp-user-info {
    position: absolute;
    color: #343855;
    margin: 90px 0 0 390px;
    font-weight: bold;
    font-size: 0.8125em;
}
.mp-user-name {
    font-size: 1.7692307692307692em;
    margin-bottom: 0.23em;
}
.mp-user-follow > a {
    cursor: pointer;
}


/**** 네비게이션 ****/
.mp-nav {
   position: relative;
   height: 60px; 
    text-align: center; 
}
.mp-nav ul {
    list-style: none;
    height: 60px;
    width: 1250px;
    display: inline-block;
    padding: 0; 
}
.mp-nav li {
    float: left;
    padding: 0.6em 0.6em;
    margin: 0.6em 60px 0 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.0625em;
}


/**** 바1 ****/
.bar1 {
    z-index: 2;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
}
.bar1 li {
    transition: border-bottom .2s ease;
}
.bar1 li:first-child {
    margin-left: 26.5em;
}    
.bar1 li:hover {
    border-bottom: 4px solid #343855;
    color: #343855;
}
.mp-current1 {
    border-bottom: 4px solid #343855;
    color: #343855;
}

/**** 바2 ****/
.bar2 {
    z-index: 1;
    border-bottom: solid #D5D5D5 1px;
}
.bar2 li:first-child {
    margin-left: 29.5em;
}    
.bar2 li:hover {
    color: #343855;
}
.mp-current2 {
    color: #343855;
}