label {
    margin: 0;
}
.ad-sns {
    display: flex;
    align-items: center;
    padding: .625em;
    
}

.ad-sns-img {
    width: 50px;
    height: 50px;
    background-size: contain;
    margin-right: .625em;
}

.ad-sns01{
    background-image: url("../images/store_admin/sns_twiter.png");
}

.ad-sns02{
    background-image: url("../images/store_admin/sns_facebook.png");
}

.ad-sns03{
    background-image: url("../images/store_admin/sns_insta.png");
}

.ad-input {
    width:30%;
    padding: 0;
    display: flex;
    align-items: center;
    margin-right: 1.25em;
}

/* The switch - the box around the slider */
.ad-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.ad-switch input {display:none;}

/* The slider */
.ad-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.ad-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .ad-slider {
  background-color: #ffc001;
}

input:focus + .ad-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .ad-slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.ad-slider.ad-round {
  border-radius: 34px;
}

.ad-slider.ad-round:before {
  border-radius: 50%;
}

.ad-dropzone {

}

.ad-menu {
    margin:10px;
}
.ad-cat {
    margin-bottom: .625em;
    padding: .625em;
    font-weight: bold;
}
.ad-cat > span {
    margin-right: .9375em;
}
.ad-card-wrap-custom {
    margin-bottom: 1rem!important;
    max-width: 50%;
    position: relative;
    width: 1720px;
    min-height: 1px;
    padding-right: .9375em;
    padding-left: .9375em;
}